@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    background: linear-gradient(244.06deg, #1BC4F7 0.98%, #5F6AEA 32.66%, #DA65DA 64%, #DE8439 98.17%);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    display: flex;
    position: sticky;
    width: auto;
    height: 120px;

    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 57px 57px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 6%;
}

.list{
    margin: 80px;
}

li {
    list-style: none;
    display: inline-block;
    font-weight: 500;
    padding: 12px;
    
}

.nave {
    text-decoration: none;
    color: #303030;
    padding: 12px;

}

.nave:hover {
    color: #FFFFFF;
    background: linear-gradient(244.06deg, rgba(95, 107, 234, 0.726) 0.9%, #da65dabb 99%);
    padding: 12px;   
    border-radius: 19px;
}


nav li {
    text-decoration: none;
}

